.squareWrapper {
  position: relative;
  width: 12px;
  left: -50px;
  height: 100vh;
  display: flex;
  align-items: center;

  .squareLoading {
    width: 12px;
    height: 12px;
    border-radius: 4px;
    background-color: #FA8072;
  }
}

.squareLoading {
  animation: movingSquare 1.5s cubic-bezier(.17, .37, .43, .67) infinite;
}

@keyframes movingSquare {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    transform: translate(75px, 0) rotate(360deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}